<ion-header>
  <ion-toolbar>
    <ion-title align="center">VITADIET MOBILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="panelHome"></div>
  <div class="panelHome">
      <ion-button expand="block">REGISTRAR PESO</ion-button>
     <ion-button expand="block" routerLink="/agendar-cita">PEDIR CITA</ion-button>
      <ion-button expand="block">CONSULTAR</ion-button>
      <ion-button expand="block"  routerLink="/cancelar-pedido">CANCELAR PEDIDO</ion-button>
      <ion-button expand="block"  routerLink="/cancelar-pedido">ATRAS</ion-button>

  </div>
  <div class="panelHome"></div>
  
</ion-content>
