<ion-content>
  <div class="container top"><img src="/assets/img/logo.png" ></div>

  <div class="bienvenido">
    <div class="bien" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
  </div>

  <div class="first">
    <div class="nombreL" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
  </div>

  <ion-button class="my-button" color="light" expand="block">
    <!-- <a href="ingreso" class="button-dark">Registrar Peso!</a> -->
    <a href="registrar" class="button-dark">Registrar Peso!</a>
  </ion-button>



  <div class="ocean">
    <div class="waves" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>

    <div class="container bottom ion-text-center" >
      <span>Bienvenido a nuestra aplicacion para controlar su dieta y peso. Disfrutala!!</span>
    </div>
  </div>
</ion-content>