<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Pesos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!pesos.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
      <ion-item button [routerLink]="['/registrar', peso.id]">

        <ion-label>
          {{ peso.documento }}
          <p>{{ peso.fecha}}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="peso.peso">{{ peso.peso | currency: 'KG' }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deletePeso(peso.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button routerLink="/login-usuario" color="danger" expand="block">
            Salir
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/registrar" expand="block">
            Adicionar Peso
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>