<ion-content>
    <div class="container top"><img src="/assets/img/logo.png" ></div>
    <ion-slides>  
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Registro de peso éxitoso</span>
  
          <ion-button class="my-button" color="light"   expand="block">
              <a href="registrar" >Regresar!</a>
            
          </ion-button>

          <ion-button class="my-button" color="light"   expand="block">
              <a href="login" >Salir!</a>
              <!--aqui se pone el link de kelly donde referencia todas las funcionalidades-->
            
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  
    
    <div class="first">
      <div class="nombreL" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
    </div>
  
    <div class="ocean">
      <div class="waves" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
  
      <div class="container bottom ion-text-center">
        <span>Bienvenido a nuestra aplicacion para controlar su dieta y peso. Disfrutala!!</span>
      </div>
    </div>
  </ion-content>
  
  